/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 14, 2022, 10:08:05 AM
    Author     : Guillermo Sanchez Estrada
*/

* {
    font-family: Georgia;
    box-sizing: border-box;
}

h1 {
    color: #50ccc7;
    font-weight: bold;
  
}

.index_th, .index_td {
    text-align: center;
}

.index_th {
    font-weight: bold;
}

.PO2201 {
    background-color: #50ccc7;
}