/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 14, 2022, 10:08:05 AM
    Author     : Guillermo Sanchez Estrada
*/

* {
    font-family: sans-serif;  
}

h1 {
    color: darkblue;
    font-weight: bold;
  
}

.index_th, .index_td {
    text-align: center;
}

.index_th {
    font-weight: bold;
}