<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Deal</title>
<link href="assets/ProcurriStyle.css" rel="stylesheet"/>
</head>
<body>
	<div align="center">
		<h1>Edit Deal</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${deal}"
			method="post">

			<table border="0" cellpadding="10">		
				<tr>				
					<td>PO:</td>
					<td>
						<input type="text" th:field="*{PO}" />
					</td>
				</tr>
				<tr>
					<td>Sales Invoice:</td>
					<td><input type="text" th:field="*{sInv}" /></td>
				</tr>
				<tr>
					<td>OC:</td>
					<td><input type="text" th:field="*{OC}" /></td>
				</tr>
				<tr>
					<td>Customer:</td>
					<td><input type="text" th:field="*{customer}" /></td>
				</tr>
				<tr>
					<td>Vendor Invoice:</td>
					<td><input type="text" th:field="*{vInv}" /></td>
				</tr>
				<tr>
					<td>Comments:</td>
					<td><input type="text" th:field="*{dealComments}" /></td>
                                </tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>