<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Procurri Deal Database</title>
        <link href="assets/ProcurriStyle.css" rel="stylesheet"/>
    </head>
    <body>
        <div align="center">
            <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
            <p><h1>Procurri Mexico Deal Database</h1></p>
            
            <a href="new">Create new deal by clicking here</a>
            <br/><br/>
            <p><h2>Here is a list of all deals to date:</h2></p>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th class="index_th">PO</th>
                        <th class="index_th">Sales Invoice</th>
                        <th class="index_th">Status of Sales Invoice</th>
                        <th class="index_th">OC</th>
                        <th class="index_th">OC Date</th>
                        <th class="index_th">Customer</th>
                        <th class="index_th">Vendor Invoice</th>
                        <th class="index_th">Comments</th>
                        <th class="index_th">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="listDeals : ${listDeals}" th:class="${listDeals.sInvType}">
                        <td class="index_td" th:text="${listDeals.PO}">PO</td>
                        <td class="index_td" th:text="${listDeals.sort(sInv)}">Sales Invoice</td>
                        <td class="index_td" th:text="${listDeals.sInvType}">Sales Invoice Status</td>
                        <td class="index_td" th:text="${listDeals.OC}">OC</td>
                        <td class="index_td" th:text="${#dates.format(listDeals.ocDate, 'dd/MMM/yyyy')}">OC Date</td>
                        <td class="index_td" th:text="${listDeals.customer}">Customer</td>
                        <td class="index_td" th:text="${listDeals.vInv}">Vendor Invoice</td>
                        <td class="index_td" th:text="${listDeals.dealComments}">Comments</td>                        
                        <td class="index_td">
                             <a th:href="@{'/edit/' + ${listDeals.id}}">Edit</a>
                                            &nbsp;&nbsp;&nbsp;
                            <a th:href="@{'/delete/' + ${listDeals.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </body>
</html>