<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Procurri Deal Database</title>
    </head>
    <body>
        <div align="center">
            <p th:text="${session.mySessionAttribute}" th:unless="${session == null}">[...]</p>
            <h1>Procurri Deal Database</h1>
            <a href="new">Here is a list of all deals to date:</a>
            <br/><br/>
            <p>DEALS</p>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>OC</th>
                        <th>PO</th>
                        <th>Sales Invoice</th>
                        <th>Vendor Invoice</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="listIMC : ${listIMC}">
                        <td th:text="${listIMC.fecha}">Fecha</td>
                        <td th:text="${listIMC.peso}">Peso</td>
                        <td th:text="${listIMC.altura}">Altura</td>
                        <td th:text="${listIMC.iMC}">IMC</td>
                        <td>
                            <a th:href="@{'/delete/' + ${listIMC.id}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </body>
</html>