<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Add a new Deal</title>
        <link href="assets/ProcurriStyle.css" rel="stylesheet"/>
    </head>
    <body>
        <div align="center">
            <h1>Add a new deal to the database</h1>
            <br />
            <form action="#" th:action="@{/save}" th:object="${Deals}"
                  method="post">

                <table border="0" cellpadding="10">
                    <tr>
                        <td>PO:</td>
                        <td><input type="text" th:field="*{PO}" name="PO" /></td>
                    </tr>
                          <tr>
                        <td>Sales Invoice:</td>
                        <td><input type="text" th:field="*{sInv}" name="sInv" /></td>
                    </tr>
                    <tr>
			<td>Sales Invoice Status:</td>
                                        <td>
                                            <select id="sInvType" name="sInvType" th:field="*{sInvType}">
                                                <option th:value="'Valid'" th:text="Valid"></option>
                                                <option th:value="'Paid'" th:text="Paid"></option>
                                                <option th:value="'Pending'" th:text="Pending"></option>
                                                <option th:value="'Cancelled'" th:text="Cancelled"></option>
                                            </select>
                    </tr>
                    <tr>
                        <td>OC:</td>
                        <td><input type="text" th:field="*{OC}" name="OC" /></td>
                    </tr>
                                <tr>
                                    <td>OC Date:</td>
                                    <td><input type="date" th:field="*{ocDate}" name="ocDate" /></td>
                                </tr>
                    <tr>
                        <td>Customer:</td>
                        <td><input type="text" th:field="*{customer}" name="Customer" /></td>
                    </tr>
                    <tr>
                        <td>Vendor Invoice:</td>
                        <td><input type="text" th:field="*{vInv}" name="vInv" /></td>
                    </tr>
                    <tr>
                        <td>Comments:</td>
                        <td><input type="text" th:field="*{dealComments}" name="dealComments" /></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Save</button> </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>